@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

:root {
  --box-shadow: 0 10px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  background-image: url("./images/budget-bg.jpg");
  background-position: center;

  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  font-family: "Lato", sans-serif;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}
.minus-ex {
  color: #271bcf;
}
.money.plus {
  color: #271bcf;
  padding-left: 10px;
}

.money.minus {
  color: #c0392b;
  padding-left: 10px;
}
.balance {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-color: red;
}
.inc-exp-container {
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  justify-content: center;
}
.income {
  padding-right: 90px;
}
.income-list {
  justify-content: center;
  color: #1cb850;
  text-align: center;
}
.expenses-list {
  padding-right: 90px;
  color: #c0392b;
}
.income-list .head-exp {
  align-items: center;
  justify-content: center;
  text-align: center;
}
.list li {
  box-shadow: var(--box-shadow);
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 30px 0;
}
.li .minus-ex {
  border-right: 5px solid #c0392b;
}
.list li .plus-in {
  border-right: 5px solid #271bcf;
}
.list li.plus-in {
  border-right: 5px solid #271bcf;
}

.list li.minus-ex {
  border-right: 5px solid #c0392b;
}

.list li .minus-ex {
  border-right: 5px solid #c0392b;
}
.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}
.edit-btn {
  cursor: pointer;
  background-color: #1cb850;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}
.list li:hover .delete-btn {
  opacity: 1;
}
.list li:hover .edit-btn {
  opacity: 1;
}
h1 {
  letter-spacing: 1px;
  margin: 0;
}

h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 40px 0 10px;
}

h4 {
  margin: 0;
  text-transform: uppercase;
}
label {
  display: inline-block;
  margin: 10px 0;
}
